#!/bin/bash

hostname="$(hostname)"
date="$(date '+%Y-%m-%d')"
WORKDIR="$(mktemp -d)"
LOGDIR='/var/log/clamav'
LOGNAME="clamav-$(date +'%Y-%m-%d').log";
LOGFILE="${LOGDIR}/${LOGNAME}"
if [ -d "${WORKDIR}" ]; then
  report="clamscan-${hostname}-${date}.tar.gz"
  cd "${WORKDIR}"
  clamscan -ri '/' >> "${LOGFILE}"
  cp "${LOGFILE}" "./${LOGNAME}"
  tar -czf "${report}" "./${LOGNAME}"

  ftp -n {{ftp_server}} <<END_SCRIPT
  quote USER {{ftp_user}}
  quote PASS {{ftp_pass}}
  binary
  put ${report}
  quit
END_SCRIPT

  cd
  rm "${WORKDIR}/${report}"
  rm "${WORKDIR}/${LOGNAME}"
  rmdir "${WORKDIR}"
else
  echo "Can not create temporary directory"
  exit 1
fi
